*{

margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
text-decoration: none;
}

html {
    scroll-behavior: smooth;

}

:root {
    --bg-utama: #0a0a0c;
    --bg-kartu: #16161c;
    --aksen-merah: #e63946;
    --aksen-emas: #f4a261;
    --aksen-neoncyan: #00ffcc;


    --teks-utama: #ffffff;
    --teks-pudar: #8a8a9d;

}

body {
    background-color: var(--bg-utama);
    color: var(--teks-utama);
    line-height: 1.6;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-kartu);
    padding: 20px 50px;
    border-bottom: 2px solid var(--aksen-neoncyan);
    position: sticky;

    top: 0;
    z-index: 100;
}

.logo-squad {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--aksen-emas);

}


.menu-navigasi a {
    color: var(--teks-utama);
    margin-left: 30px;
}

.menu-navigasi a:hover {
    color: var(--aksen-merah);
}

.hero-section {
    text-align: center;
    padding: 120px;
    
}