/* --- RESET DASAR --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body {
    background-color: var(--bg-utama); 
    color: var(--teks-putih);
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-kartu);
    padding: 20px 50px;
    border-bottom: 2px solid var(--neon-cyan);
}

.logo-squad {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--neon-cyan);
}

.menu-navigasi a {
    color: var(--teks-putih);
    margin-left: 30px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.menu-navigasi a:hover {
    color: var(--neon-cyan);
}


.hero-section {
    text-align: center;
    padding: 100px 20px;
    background-color: var(--color-utama);
}

.hero-section h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: var(--teks-putih);
}

.hero-section p {
    font-size: 1.1rem;
    color: var(--teks-pudar);
    max-width: 600px;
    margin: 0 auto 40px auto;
    line-height: 1.6;
}

.tombol-klaim {
    background-color: var(--neon-hijau);
    color: var(--teks-putih);
    font-size: 1.2rem;
    font-weight: bold;
    padding: 15px 40px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.tombol-klaim:hover {
    background-color: var(--teks-putih);
    transform: scale(1.1);
    box-shadow: 0px 0px 20px var(--neon-hijau);
}


.squad-section {
    padding: 70px 20px;
    background-color: var(--bg-utama);
    text-align: center;
}

.squad-section h2 {
    color: var(--neon-cyan);
    margin-bottom: 40px;
    font-size: 2.2rem;
}

.wadah-guild {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    max-width: 1000px;
    margin: auto;
}

.kartu-role {
    background-color: var(--bg-kartu);
    padding: 40px 20px;
    border-radius: 15px;
    width: 30%; 
    border: 1px solid var(--neon-cyan);
    cursor: pointer;
    transition: all 0.3s ease;
}

.kartu-role h3 {
    color: var(--neon-hijau);
    margin-bottom: 15px;
    font-size: 1.5rem;
}

.kartu-role p {
    color: var(--teks-pudar);
    line-height: 1.5;
}

.kartu-role:hover {
    background-color: var(--bg-kartu);
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px rgba(0, 255, 153, 0.20); 
    border-color: var(--neon-hijau);
}

@media screen and (max-width: 768px) {
    .wadah-guild {
        flex-direction: column;
    }
    .kartu-role {
        width: 100%;
    }
}


.katalog-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}

.kartu-item {
    background-color: var(--bg-kartu);
    padding: 20px;
    border-radius: 10px;
}

.kartu-item:hover {
    transform: scale(1.05);
}

:root {
    --bg-utama: #0f0f13;
    --bg-kartu: #1a1a24;
    --color-utama: #15151e;

    --neon-cyan: #00ffcc;
    --neon-hijau: #00ff99;

    --teks-putih: #ffffff;
    --teks-pudar: #a0a0b0;
}

@keyframes efekNapas {
    0% {
        transform: scale(1);
        box-shadow: 0px 0px 5px #00ff99;

    }
    50% {
        transform: scale(1.05);
        box-shadow: 0px 0px 25px #00ff99;

    }

    100% { 
        transform: scale(1);
        box-shadow: 0px 0px 5px #00ff99;
    }
}

.tombol-klaim {
    animation: efekNapas 2s infinite ease-in-out;
}