/* 1. Ngubah seluruh background web (Manggil Tag) */
body {
    background-color: #1e1e2e; /* Warna gelap ala-ala mode malam */
    color: white; /* Bikin warna teks default jadi putih */
    font-family: 'Poppins', sans-serif; /* Gunain font Poppins */
}

/* 2. Ngewarnain judul (Manggil ID) */
#judul-utama {
    color: #66ff0079; /* Warna kuning ngejreng */
}

/* 3. Ngedandanin tombol (Manggil Class) */
.tombol-aksi {
    background-color: #00ff99; /* Warna ijo neon */
    color: black; /* Warna teks di dalem tombol */
    border: none; /* Biar garis pinggir bawaan browser yang jelek itu hilang */
    padding: 10px 20px; /* Ngasih jarak dari teks ke pinggir tombol biar agak gendut */
    cursor: pointer; /* Biar pas mouse diarahin ke tombol, kursornya berubah jadi gambar tangan */

    margin-top: 70px; 
    border-radius: 50px;

    transition: all 0.3s ease;

} 

.kartu-utama {
    width: 80%;
    max-width: 600px;
    background-color:#2a2a3b;
    padding: 2rem;
    border-radius: 15px;
    margin: 50px auto;
    text-align: center;
    
}

.tombol-aksi:hover {
    background-color: #00ffcc;
    transform: scale(1.1);
    box-shadow: 0px 0px 15px #00ff99;

}

.wadah-guild {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    background-color: #1a1a24;
    padding: 30px;
    margin-top: 50px;
    border-radius: 10px;

}


.kartu-role {
    background-color: #4a4a6a;
    color: white;
    padding: 20px 40px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1.2rem;

    cursor: pointer;
    transition: all 0.3s ease;
    
}

.kartu-role:hover {
    background-color:#00b7ff;
    transform: translatey(-10);
    box-shadow: 0px 10px 20px rgba(0,0,0,0.4);
}

@media screen and (max-width: 600px) {

    .wadah-guild {
        flex-direction: column;
        padding: 15px;
    }


    .kartu-role {
        width: 100%;
        text-align:center;

    }

}

.wadah-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

    background-color: #1a1a24;
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;

}
